<nav style="bg-light">
    <div style="width: 100%;background-color:">
     <a href="/store"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;">Store</h1></a>
     <a href="/shows"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%">Shows</h1></a>
     <a href="/music"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%">Music</h1></a>
     <a href="/"><img style="margin-left: 13.5em;margin-top: 2%; float: left;" src="https://fanart.tv/api/download.php?type=download&image=147244&section=2" width="100px" height="55px" alt="While She Sleeps"> </a>
     <a href="/about"><h1 style="float: left; margin-left: 6.5em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%">About</h1></a>
     <a href="/photos"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%">Gallery</h1></a>
     <a href="/about"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%">About</h1></a><br/>
        <br>
    </div>
</nav>