{% extends "layout.html" %}

{% block body %}
<div class="text-center">
    <h1>About</h1>
    <p style="float: left; width: 40%; margin-left: 15%">
        While She Sleeps is a metal-core band originating from Sheffield, England. <br/> Created in 2006,
    the band consists of vocalist Lawrence Taylor, guitarists Sean Long and Mat Welsh, bassist<br/>
    Arron McKenzie and drummer Adam Savage. Currently, the band is signed to SharpTone Records<br/>
    in the US, UNFD in Australia and an independent band in the UK.</p>

<p style="margin-left: 1.5%; float: left;width: 25%;font-size: 150%">
    <a href="about/taylor">Lawrence Taylor</a><br/>
    <a href="about/long">Sean Long</a><br/>
    <a href="about/welsh">Mat Welsh</a><br/>
    <a href="about/mckenzie">Aaron McKenzie</a><br/>
    <a href="about/savage">Adam Savage</a><br/>

</p>

    </div>
{% endblock %}