{% extends "layout.html" %}

{% block body %}
    <a href="/store"><h1 style="float: left; margin-left: 3%;font-size: 200%;width: 10%">Store</h1></a>
    <a href="/shows"><h1 style="float: left; margin-left: 0.5%;font-size: 200%;width: 10%;">Shows</h1></a>
    <a href="/music"><h1 style="float: left; margin-left: 0.5%;font-size: 200%;width: 10%">Music</h1></a>
    <a href="/"><img style="margin-left: 0.5%;float: left" src="https://fanart.tv/api/download.php?type=download&image=147244&section=2" width="18%" height="15%" alt="While She Sleeps"> </a>
    <a href="/about"><h1 style="float: left; margin-left: 0.5%;font-size: 200%;width: 10%">About</h1></a>
{% endblock %}