<nav class="navbar navbar-expand-md navbar-light bg-transparent mb-4">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
{#    <div style="text-align: center"#}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link" href="/store"><h1 style="font-size:175%;margin-top: 0.4em">Store</h1></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shows"><h1 style="font-size:175%;margin-top: 0.4em">Shows</h1></a>
            <li class="nav-item">
                <a class="nav-link" href="/music"><h1 style="font-size:175%;margin-top: 0.4em">Music</h1></a>
            </li>
            <li class="nav-item">
                <p style="margin-left: 5em"></p>
            </li>
        </ul>
      <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
{#                <a class="nav-link" href="/"><img style="margin-right: 0" src="https://fanart.tv/api/download.php?type=download&image=147244&section=2" width="150" height="75" alt="While She Sleeps"> </a>#}
                <a class="nav-link" href="/"><img style="margin-right: 0" src="{{ url_for("static", filename="images/logowithtext.jpg") }}" width="150" height="75" alt="While She Sleeps"> </a>
            </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
              <a class ="nav-link" href="/about"><h1 style="font-size:175%;text-align: right;margin-top: 0.4em">About</h1></a>
          </li>
            <li class="nav-item">
              <a class ="nav-link" href="/photos"><h1 style="font-size:175%;text-align: right;margin-top: 0.4em">Gallery</h1></a>
          </li>
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><h1 style="font-size:175%;text-align: right;margin-top: 0.4em">Login/SignUp</h1></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile', username=current_user.username) }}"><h1 style="font-size:175%;text-align: right;margin-top: 0.4em">Profile</h1></a>
                </li>
            {% endif %}
        </ul>
      </div>
    </nav>