{% extends "layout.html" %}

{% block head %}
<style>
#current_about{
    color: black;
}
</style>
{% endblock %}

{% block body %}
<div style="font-family: Rockwell" class="text-center">
    <h1>About</h1>
    <p style="font-size: 140%">
        While She Sleeps is a metal-core band originating from Sheffield, England. <br/> Created in 2006,
    the band consists of vocalist Lawrence Taylor, guitarists Sean Long and Mat Welsh, bassist<br/>
    Arron McKenzie and drummer Adam Savage. Currently, the band is signed to SharpTone Records<br/>
    in the US, UNFD in Australia and an independent band in the UK.</p>
    </div>
{% endblock %}

{# This is a page with a breif description of the band #}