{% extends "layout.html" %}

{% block body %}
    <style>
    #text{
        float: left;
        width: 25%;
        font-size: 150%;
        margin-top: 4%;
        margin-left: 5%;
        font-family: "Myriad Pro";
{#        font-family: Rockwell;#}
    }
    #title{
        font-family: Rockwell;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 100%;
        float: left;
    }
    #current_music{
        color: black;
    }
    </style>
    <div class="text-center">
{#        <h1 style="margin-top: 1%; margin-bottom: 2%;width: 100%"><br/></h1>#}
        <h1 id="title" style="margin-top: 1.5%">You Are We (2017)</h1>
{#    <h1 style="margin-top: 1%;margin-bottom: 2%; width: 100%;margin-left: 45%;"></h1>#}
        <img width="325px" height="325" src="/static/images/album_covers/You_Are_We_cover_by_While_She_Sleeps.jpg" style="float: left;margin-left: 10%;">
        <p id="text">
            1. You Are We <br />
            2. Steal The Sun <br/>
            3. Feel <br/>
            4. Empire Of Silence <br/>
            5. Wide Awake <br/>
            6. Silence Speaks
        </p>
        <p id="text">
            7. Settle Down Society <br/>
            8. Hurricane<br/>
            9. Revolt <br/>
            10. Civil Isolation <br/>
            11. In Another Now
        </p>


    <h1 id="title">Brainwashed Deluxe Edition (2015)</h1>
        <img width="325px" height="325" src="\static\images\album_covers/Brainwashed_cover_art.jpg" style="float: left;margin-left: 10%;">
{#    <img width="325px" height="325px" src="https://upload.wikimedia.org/wikipedia/en/0/00/Brainwashed_cover_art.jpg" style="float: left;margin-left: 10%;">#}
    <p id="text" style="margin-top: 0.5%">
        1. The Divide <br/>
        2. New World Torture <br/>
        3. Your Evolution <br/>
        4. Brainwashed <br/>
        5. We Are Alive At Night <br/>
        6. Our Legacy <br/>
        7. Four Walls <br/>
        8. Tourment
    </p>
    <p id="text" style="margin-top: 0.5%">
        9. Kangaezu Ni <br/>
        10. Life In Tension <br/>
        11. Trophies Of Violence <br/>
        12. No Sides, No Enemies <br/>
        13. The Woods <br/>
        14. Method In Madness <br/>
        15. Modern Minds
    </p>

<h1 id="title">This Is The Six Deluxe Edition (2012)</h1>
        <img width="325px" height="325" src="\static\images\album_covers/This_Is_The_Six_cover_art.jpg" style="float: left;margin-left: 10%;">
{#    <img width="325px" height="325px" src="https://upload.wikimedia.org/wikipedia/en/a/ae/This_Is_The_Six_cover_art.jpg" style="float: left;margin-left: 10%;">#}
    <p id="text" style="font-size: 130%;margin-top: 0.5%">
    1. Dead Behind The Eyes <br/>
    2. False Freedom <br/>
    3. Satisfied In Suffering <br/>
    4. Severn Hills <br/>
    5. Our Courage, Our Cancer <br/>
    6. This Is The Six <br/>
    7. The Chapel <br/>
    8. Be(lie)ve <br/>
    9. Until The Death <br/>
    10. Love At War
    </p>
    <p id="text" style="font-size: 130%;margin-top: 0.5%">
    11.  The Plague of a New Age <br/>
    12. Reunite <br/>
    13. Death Toll <br/>
    14. Weathered Man <br/>
    15. False Freedom (Acoustic) <br/>
    16. Severn Hills (Alternative Version) <br/>
    17. Our Courage, Our Cancer (Acoustic) <br/>
    18. Sickness Over Health (Until The Death Alternative)
    </p>

<h1 id="title">The North Stands For Nothing (2010)</h1>
        <img width="325px" height="325" src="{{ url_for("static", filename="images/album_covers/The_North_Stands_For_Nothing_cover_art.jpg") }}" style="float: left;margin-left: 10%;">
{#    <img width="325px" height="325px" src="https://upload.wikimedia.org/wikipedia/en/2/20/The_North_Stands_For_Nothing_cover_art.jpg" style="float: left;margin-left: 10%;margin-bottom: 5%">#}
    <p id="text" style="font-size: 130%;margin-top: 2%">
    1. The North Stands For Nothing <br/>
    2. Trophies <br/>
    3. Crows <br/>
    4. My Conscience, Your Freedom <br/>
    5. Love Above The Arches <br/>
    6. Proud Of The Demon In Me <br/>
    7. The Truth <br/>
    8. Hearts Aside Our Horses <br/>
    9. Be(lie)ve
    </p>
    </div>
        {% endblock %}
