<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/store"><h1>Store</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
{#          <li class="nav-item active">#}
{#            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
{#          </li>#}
            <li class="nav-item">
                <a class="nav-link">    </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/store/shirts"><h1 style="font-size:150%;">Shirts</h1></a>
          </li>
            <li class="nav-item">
                <a class ="nav-link" href="/store/womens"><h1 style="font-size:150%;">Womens</h1></a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/store/outwear"><h1 style="font-size:150%;">Outwear</h1></a>
          </li>
          <li class="nav-item">
              <a class ="nav-link" href="/store/accessories"><h1 style="font-size:150%;">Accessories</h1></a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/store/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="/"><h1 style="font-size:150%;">Home</h1></a>
            </li>
        </ul>

        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
          <ul class="navbar navbar-nav navbar-right">
              <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><h1 style="font-size:150%;">Login/SignUp</h1></a>
                </li>
          </ul>
      </div>
    </nav>