<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/store" style="font-family: 'Century Gothic'"><h1 style="font-size: 240%">Store</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
{#          <li class="nav-item active">#}
{#            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
{#          </li>#}
            <li class="nav-item">
                <a class="nav-link">    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store/music"><h1 style="font-size:150%;font-family: 'Century Gothic'"><b>Music</b></h1></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store/mens"><h1 style="font-size:150%;font-family: 'Century Gothic'"><b>Mens</b></h1></a>
          </li>
            <li class="nav-item">
                <a class ="nav-link" href="/store/womens"><h1 style="font-size:150%;font-family: 'Century Gothic'"><b>Womens</b></h1></a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/store/outwear"><h1 style="font-size:150%;font-family: 'Century Gothic'"><b>Outwear</b></h1></a>
          </li>
          <li class="nav-item">
              <a class ="nav-link" href="/store/accessories"><h1 style="font-size:150%;font-family: 'Century Gothic'"><b>Accessories</b></h1></a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/store/cart"><h1 style="font-size: 150%;font-family: 'Century Gothic'"><b>Cart</b></h1></a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="/"><h1 style="font-size:150%;font-family: 'Century Gothic'"><b>Home</b></h1></a>
            </li>
        </ul>

{#        <form class="form-inline mt-2 mt-md-0">#}
{#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{#      #TODO Add search if want to#}
          <ul class="navbar navbar-nav navbar-right">
              {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><h1 style="font-size:175%;text-align: right;margin-top: 0.4em; font-family: 'Century Gothic'"><b>Login/SignUp</b></h1></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile', username=current_user.username) }}"><h1 style="font-size:175%;text-align: right;margin-top: 0.4em">Profile</h1></a>
                </li>
              {% endif %}
          </ul>
      </div>
    </nav>