{% extends "store/layout_store.html" %}

{% block head %}
<style>
#store_accessories{
    color:black;
}
</style>
{% endblock %}

{% block body %}
<div class="text-center">
    {% for item in store %}
                {% if item.cat == "Accessories" %}
                    <a href="{{ url_for("store_item", item_id=item.id) }}">
                    <img width="350" height="561" src="{{ url_for("static", filename=item.image) }}">
                    </a>
                {% endif %}
            {% endfor %}
<br>
</div>

{% endblock %}