{% extends "store/layout_store.html" %}
{% block head %}
    <style>
    .OOF{display: inline-block}
    .Lemon{display: list-item}
    #tblProduct td{
        padding:5px 10px 5px 10px;
        border:solid 1px #000000;
        font-size:20px;
    }
    #word{
        color: black;
        text-decoration: none;
    }
    #word:hover{
        color: blue;
    }
    #store_cart{
        color: black;
    }
    </style>
{% endblock %}
{% block body %}
<div class="text-center" style="font-family: Rockwell">
{#<h1>Cart</h1>#}
<br>
{% for i in users %}
    {% if i.id == current_user.id %}
        <table id="tblProduct", width="100%">
        <tr>
           <th>&nbsp;</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Price</th>
        </tr>
        {% for j in cart %}
            {% if j.userid == i.id %}
                {% for item in store %}
                    {% if j.itemid == item.id %}
                        <tr>
                            <td><img  src="{{ url_for("static", filename=item.image) }}", width="15%", height="28%"></td>
                            <td>{{ item.name }}</td>
                            <td>{{ j.quantity }}</td>
                            <td>{{ j.size }}</td>
                            <td>£{{ j.price }}</td>
                            <td><a id="word" href="{{ url_for("remove_item_cart", the_cart_id=j.cart_id) }}">Remove</a> </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <td>Total</td>
            <td>£{{ final_price }}</td>
        </tr>
        </table>
    {% endif %}
{% endfor %}
<a id="word" style="float: right; padding-right: 14px; font-size: 160%" href="{{ url_for("delivery") }}">Checkout</a>
</div>
{% endblock %}