{% extends "store/layout_store.html" %}

{% block head %}
<style>
#word{
    color: black;
    text-decoration: none;
}
#word:hover{
    color: blue;
}
#store_cart{
    color: black;
}
</style>
{% endblock %}

{% block body %}
<div class="text-center" style="font-family: Rockwell">
<h1 style="font-size: 120%">Checkout</h1>
<h3>Delivery Address</h3>
{% for i in users %}
    {% if i.name == current_user.name %}
        <p>{{ i.address1 }}</p>
        <p>{{ i.address2 }}</p>
        <p>{{ i.towncity }}</p>
        <p>{{ i.postcode }}</p>
    {% endif %}
{% endfor %}
<a id="word" href="{{ url_for("edit_profile") }}">If This Is Not Correct Change It Here</a>
<p> </p>
<a id="word" href="{{ url_for("pay") }}"><img style="width: 29%" src="{{ url_for("static", filename="images/pay here.png") }}"></a>
    <p>*Please note: Do not enter your real card details as this is not a real site and you will not get your order</p>
</div>
{% endblock %}