{% extends "store/layout_store.html" %}
{% block body %}
<div class="text-center">
<h1>Mens</h1>
</div>
    <table style="width: 100%">
    <div style="display: inline-block">
    {% for item in store %}
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
            <td>
                {% if item.cat == "Mens" %}
                    <a href="{{ url_for("store_item", item_name=item.name) }}">
                    <img src="{{ url_for("static", filename=item.image) }}">
                    </a>
                {% endif %}
            {% endfor %}
            </td>
    </div>
    </table>
{% endblock %}
{#        <table style="width: 100%">#}
{#        <tr>#}
{#        <th>#}
{#        {% for item in store %}#}
{#            {% if item.cat == "Mens" %}#}
{#            {% if item.id == 1 %}#}
{#                <p>{{ item.name }}</p>#}
{#                <img src="{{ url_for("static", filename=item.image) }}">#}
{#            {% endif %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </th>#}
{#        <th>#}
{#        {% for item in store %}#}
{#            {% if item.cat == "Mens" %}#}
{#            {% if item.id == 2 %}#}
{#                <a href="{{ url_for("store_item", item_name=item.name) }}">#}
{#                    <p>{{ item.name }}</p>#}
{#                    <img src="{{ url_for("static", filename=item.image) }}">#}
{#                </a>#}
{#            {% endif %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </th>#}
