{% extends "store/layout_store.html" %}

{% block head %}
<style>
#store_mens{
    color: black;
}
</style>
{% endblock %}

{% block body %}
<div class="text-center">
{#<h1>Mens</h1>#}
<br>
</div>
    {% for item in store %}
                {% if item.cat == "Mens" %}
                    <a href="{{ url_for("store_item", item_id=item.id) }}">
                    <img width="350" height="561" src="{{ url_for("static", filename=item.image) }}">
                    </a>
                {% endif %}
            {% endfor %}
{% endblock %}

