{% extends "store/layout_store.html" %}

{% block head %}
<style>
    #store_music{
        color: black;
    }
</style>
{% endblock %}

{% block body %}
<br>
    {% for item in store %}
                {% if item.cat == "Music" %}
                    <a href="{{ url_for("store_item", item_id=item.id) }}">
                    <img width="350" height="561" src="{{ url_for("static", filename=item.image) }}">
                    </a>
                {% endif %}
            {% endfor %}
{% endblock %}
