{% extends "store/layout_store.html" %}

{% block head %}
    <style>
    .OOF{display: inline-block}
    .Lemon{display: list-item}
    #tblProduct td{
        padding:5px 10px 5px 10px;
        border:solid 1px #000000;
        font-size:20px;
        font-family:"Tahoma, Verdana";
    }
    </style>
{% endblock %}

{% block body %}
<div class="text-center">
<h1>Orders</h1>
{% for user in user %}
    {% if user.id == current_user.id %}
        <table id="tblProduct", width="100%">
        <tr>
            <th>Order Id</th>
            <th>Item Name</th>
            <th> </th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Order Status</th>
        </tr>
        {% for j in orders %}
            {% if j.userid == current_user.id %}
                {% for k in store %}
                    {% if k.id == j.item_id %}
                        <tr>
                            <th>{{ j.order_id }}</th>
                            <th>{{ k.name }}</th>
                            <th> <img src="{{ url_for("static", filename=k.image) }}" style="width: 8%"> </th>
                            <th>{{ j.item_quant }}</th>
                            <th>{{ j.date }}</th>
                            <th>{{ j.order_status }}</th>
        {#                TODO Change Item ID To Name And Picture#}
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
    </table>
</div>

{% endblock %}
{#TODO Finish Order Page#}