{% extends "store/layout_store.html" %}

{% block head %}
<style>
#store_outwear{
    color: black;
}
</style>
{% endblock %}

{% block body %}
<div class="text-center">
<br>
<h1 style="font-size: 150%">Outwear</h1>
{% for item in store %}
                {% if item.cat == "Outwear" %}
                    <a href="{{ url_for("store_item", item_id=item.id) }}">
                    <img width="350" height="561" src="{{ url_for("static", filename=item.image) }}">
                    </a>
                {% endif %}
            {% endfor %}
</div>
{% endblock %}