{% extends "store/layout_store.html" %}

{% block head %}
<script>
$("#size").change(function () {
    var size = $("#size").val();
    if (size) {
        var sizelabel = $("label[for="+size+"]").text();
        document.getElementById("thesize").innerHTML = sizelabel.toString();
    }
})
</script>
{% endblock %}

{% block body %}
<div class="text-center"><h1>{{ store_item.name }}</h1></div>
    <p style="float: left; width: 25%"></p>
        {% if store_item.id == 10 or store_item.id == 11 or store_item.id == 12 or store_item.id == 13 %}
            <div class="text-center"><img style="float: left; width: 25%;margin-left: 13%" src="{{ url_for("static", filename=store_item.back_image) }}">
            {% elif store_item.id == 8 %}
                <img style="width: 25%;float: left" src="{{ url_for("static", filename=store_item.image) }}"></div>
        {% else %}
            <img style="float: left; width: 25%" src="{{ url_for("static", filename=store_item.image) }}">
            <img style="float: left; width: 25%" src="{{ url_for("static", filename=store_item.back_image) }}">
        {% endif %}
    <p style="float: left; width: 25%;margin-left: 13%"></p>
        <p style="float: left; width: 100%"></p>
        <table class="text-center" style="float: left;width: 30%;margin-left: 36%">
        <th><h2><u>Size</u></h2></th>
    <th><h2><u>Stock</u></h2></th>
    {% for item in stock %}
        <tr>
        {% if item.itemid == store_item.id %}
            <td style="font-size: 150%">{{ item.size }}</td>
            {% if item.stock == 0 %}
                <td style="font-size: 150%;color: red">{{ item.stock }}</td>
                {% else %}
                <td style="font-size: 150%">{{ item.stock }}</td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <br>
    <div class="text-center" style="float: left;width: 55%;margin-left: 23%">
        <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.size(size=1) }}
                    {{ form.amount(size=1) }}
                    {{ form.submit() }}
                </p>
        </form>
        {% for i in store %}
            {% if store_item.id == i.id %}
                <p style="font-size: 200%">Price: £{{ store_item.price }}</p>
            {% endif %}
        {% endfor %}
        <p id="thesize"></p>
    <br>
    </div>
{% endblock %}