{% extends "store/layout_store.html" %}

{% block body %}
<div class="text-center"><h1>{{ store_item.name }}</h1></div>
    <p style="float: left; width: 25%"></p>
        <img style="float: left; width: 25%" src="{{ url_for("static", filename=store_item.image) }}">
        <img style="float: left; width: 25%" src="{{ url_for("static", filename=store_item.back_image) }}">
    <p style="float: left; width: 25%;margin-left: 13%"></p>
    <table style="float: left;width: 50%">
        <th><h2><u>Size</u></h2></th>
    <th><h2><u>Stock</u></h2></th>
    {% for item in stock %}
        <tr>
        {% if item.itemid == store_item.id %}
            <td style="font-size: 150%">{{ item.size }}</td>
            {% if item.stock == 0 %}
                <td style="font-size: 150%;color: red">{{ item.stock }}</td>
                {% else %}
                <td style="font-size: 150%">{{ item.stock }}</td>
            {% endif %}
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <br>
    <div class="center" style="float: left;width: 55%;margin-left: 45%">
        <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.size(size=1) }}
                    {{ form.amount(size=1) }}
                    {{ form.submit() }}
                </p
{#            {% if form.size == "S" %}#}
{#            <p>this workls</p>#}
        </form>
    <br>

    </div>
{% endblock %}