{% extends "layout.html" %}

{% block body %}
    <div class="text-center">
    <h1>Admin Page</h1>
        <a href="/admin/addshows"><h1 style="font-size: 120%;">Add Show</h1></a>
        <a href="/admin/additem"><h1 style="font-size: 120%">Add Item To Store</h1> </a>
        <a href="/admin/topup"><h1 style="font-size: 120%">Top-Up Stock</h1> </a>
        <a href="/admin/allstock"><h1 style="font-size: 120%"> All Stock</h1> </a>
        <a href="/admin/orders"><h1 style="font-size: 120%">All Orders</h1> </a>
        <a href="/admin/update"><h1 style="font-size: 120%;">Update Order Status</h1> </a>
    </div>
{% endblock %}