{% extends "layout.html" %}

{% block body %}
    <div class="text-center">
    <table style="width: 100%">
    <tr style="font-size: 140%; color: blue">
        <td>Stock Id</td>
        <td>Item Id</td>
        <td>Item Size</td>
        <td>Item Stock</td>
        <td>Amount Bought</td>
    </tr>
{% for i in stock %}
    <tr style="border: solid 1px #6c757d">
        <td>{{ i.id }}</td>
        <td>{{ i.itemid }}</td>
        <td>{{ i.size }}</td>
        <td>{{ i.stock }}</td>
        <td>{{ i.bought }}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}