{% extends "layout.html" %}

{% block body %}
    <div class="text-center">
      <h1>Sign In</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            <p><a href="/register">Need An Account?</a> </p>
        </form>
    </div>
{% endblock %}

{# This is the page that allows the user to log in to their account or create a new account #}