<nav style="bg-light">

     <a href="/store"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;color: #1b1e21">Store</h1></a>
     <a href="/shows"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;color: #1b1e21">Shows</h1></a>
     <a href="/music"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;color: #1b1e21">Music</h1></a>
     <a href="/"><img style="margin-left: 13.5em;margin-top: 1%; float: left;" src="https://fanart.tv/api/download.php?type=download&image=147244&section=2" width="110px" height="55px" alt="While She Sleeps"> </a>
     <a href="/about"><h1 style="float: left; margin-left: 6.5em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;color: #1b1e21">About</h1></a>
     <a href="/photos"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;color: #1b1e21">Gallery</h1></a>
     <a href="/login"><h1 style="float: left; margin-left: 1em;font-size: 200%;margin-top: 1.5%;margin-bottom: 2%;color: #1b1e21;">Login/Sign Up</h1></a><br/>
        <br>

</nav>