{#<nav class="navbar navbar-inverse navbar-fixed-top">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="/"><img src="https://fanart.tv/api/download.php?type=download&image=147244&section=2", width="110em", height="55em"></a>#}
{#        </div>#}
{#        <ul class="nav navbar-nav">#}
{#            <li class="active"><a href="/store"><h1 style="font-size: 200%">Store</h1></a></li>#}
{#            <li><a href="/shows"><h1 style="font-size: 200%">Shows</h1> </a> </li>#}
{#            <li><a href="/music"><h1 style="font-size: 200%">Music</h1> </a> </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/store">Store</a></li>
      <li><a href="/shows">Shows</a></li>
      <li><a href="/music">Music</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>