{% extends "layout.html" %}

{% block head %}
<style>
#word{
    color: black;
    text-decoration: none;
}
#word:hover{
    color: blue;
}
</style>
{% endblock %}

{% block body %}
    <div class="text-center">
    <h1>Admin Page</h1>
        <a id="word" href="/admin/addshows"><h1 style="font-size: 120%;">Add Show</h1></a>
        <a id="word" href="/admin/additem"><h1 style="font-size: 120%">Add Item To Store</h1> </a>
        <a id="word"href="/admin/topup"><h1 style="font-size: 120%">Top-Up Stock</h1> </a>
        <a id="word" href="/admin/allstock"><h1 style="font-size: 120%"> All Stock</h1> </a>
        <a id="word" href="/admin/orders"><h1 style="font-size: 120%">All Orders</h1> </a>
        <a id="word" href="/admin/update"><h1 style="font-size: 120%;">Update Order Status</h1> </a>
    </div>
{% endblock %}