{% extends "layout.html" %}

{% block body %}
    <div class="text-center" style="font-family: Rockwell">
    <table style="width: 100%; font-family: Rockwell; font-size: 15px">
    <tr style="font-size: 140%; color: blue">
        <td>Stock Id</td>
        <td>Item Id</td>
        <td>Item Name</td>
        <td>Category</td>
        <td>Item Size</td>
        <td>Item Stock</td>
        <td>Amount Bought</td>
    </tr>
{% for i in stock %}
    {% for j in store %}
        {% if j.id == i.itemid %}
    <tr style="border: solid 1px #6c757d">
        <td>{{ i.id }}</td>
        <td>{{ i.itemid }}</td>
        <td>{{ j.name }}</td>
        <td>{{ j.cat }}</td>
        <td>{{ i.size }}</td>
        <td>{{ i.stock }}</td>
        <td>{{ i.bought }}</td>
    </tr>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </table>
    </div>
{% endblock %}