{% extends "user/admin/admin_layout.html" %}

{% block head %}
    <style>
    #tbl tr{
        padding:5px 10px 5px 10px;
        border:solid 1px #000000;
        font-size:20px;
        font-family:Rockwell;
    }
    #top{
        border: solid 1px black;
    }
    </style>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Total Cost');
        data.addColumn('number', 'Total Profit');
        data.addRows([['Total Cost: £{{ total_cost }}', {{ total_cost }}], ['Total Profit: £{{ total_prof }}', {{ total_prof }}]]);
      // Set chart options
        var options = {'title':'Total Cost:Profit Ratio. Total Revenue: £{{ total_price }}',
                       'width':800,
                       'height':600};
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body %}
    <div class="text-center">
    <div style="float: left; width: 50%">
    <table id="tbl">
    <tr>
        <th >Item Id</th>
        <th id="top">Stock ID</th>
        <th id="top">Item Name</th>
        <th id="top">Item Size</th>
        <th id="top">Amount Bought</th>
        <th id="top">Profit</th>
        <th id="top">Total Profit</th>
    </tr>
    {% for k in thelist %}
        {% for i in stock %}
            {% for j in store %}
                {% if j.id == i.itemid %}
                    {% if k[1] == i.id %}
                        <tr>
                            <th>{{ i.itemid }}</th>
                            <th>{{ i.id }}</th>
                            <th>{{ j.name }}</th>
                            <th>{{ i.size }}</th>
                            <th>{{ i.bought }}</th>
                            <th>£{{ j.price - j.cost }}</th>
                            <th>£{{ (j.price - j.cost)*i.bought }}</th>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </table>
    </div>
    <div style="float: left;width: 50%">
        <div id="chart_div"></div>
    </div>
    </div>
{% endblock %}